<mat-toolbar color="accent">
  <h1>Login to your Notes</h1>
</mat-toolbar>
<div>

  <mat-card >
    <!-- Title of an Card -->
    <mat-card-title>
      Please login
    </mat-card-title>

    <mat-card-content>
      <form #f="ngForm" novalidate (ngSubmit)="login(f)">
        <div>
          <mat-form-field class="full-length">
            <input matInput required name="email" placeholder="Email" [ngModel]="credentials.email"
              #email="ngModel" >
            <mat-error *ngIf="!email.valid">Please enter a valid email</mat-error>
          </mat-form-field>
          <mat-form-field class="full-length">
            <input matInput type="password" id="password" required name="password" placeholder="Password"
              ngModel>
          </mat-form-field>
          <div *ngIf="errors" class="alert alert-danger" role="alert">
            <strong>Oops!</strong> {{errors}}
          </div>
          <div style="margin-top: 20px;">
              <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid || isRequesting" class="full-length mat-elevation-z4">Login</button>
          </div>
        </div>

      </form>
      <div class="g-signin2" data-onsuccess="onSignIn"></div>
      <div *ngIf="isRequesting">
        <mat-progress-spinner class="example-margin" color="primary" mode="indeterminate">
        </mat-progress-spinner>
      </div>
    </mat-card-content>
  </mat-card>
</div>