<mat-card>
  <mat-card-header>
    <i class="material-icons">
      edit
    </i>
    <mat-card-title>Update Post</mat-card-title>
  </mat-card-header>
  <mat-form-field>
    <input matInput type="text" name="title" [(ngModel)]="data.title" required minlength="3" placeholder="Title" #title>
    <mat-error *ngIf="title.invalid">Please enter a post title</mat-error>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput rows="4" name="content" placeholder="Post Content" [(ngModel)]="data.content" required #content></textarea>
    <mat-error *ngIf="content.invalid">Please enter post content</mat-error>
  </mat-form-field>
</mat-card>

<div mat-dialog-actions>
  <button mat-button (click)="onCloseClick()">Close</button>
  <button mat-button (click)="onSave()" cdkFocusInitial>Save</button>
</div>
