<mat-toolbar color="primary">
  <span>My Notes</span>
  <span class="toolbar-spacer"></span>
  <!-- !(isSubscribed$ | async) -->
  <span>
    <button *ngIf="!(isSubscribed$ | async)" mat-raised-button color="accent" (click)="SubscribeNotification()">
      Subscribe to Notification
      <i class="material-icons">
        notifications_active
      </i>
    </button>

    <button mat-stroked-button color="accent" (click)="Logout()">
      Logout
      <mat-icon class="example-icon">logout</mat-icon>
    </button>
  </span>
</mat-toolbar>
