<mat-accordion multi="true" *ngIf="notes$ | async as notes else noNotes">
  <mat-expansion-panel *ngFor="let note of notes">
    <mat-expansion-panel-header>
      {{ note.title }}
    </mat-expansion-panel-header>
    <p>{{ note.content }}</p>
    <mat-action-row>
      <button mat-button color="accent" (click)="onEditNote(note)">EDIT</button>
      <button mat-button color="warn" (click)="onDeleteNote(note)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<ng-template #noNotes>
    <p class="info-text mat-body-2" >No notes added yet!</p>
</ng-template>
